.container {
    display: flex;
    flex-direction: column;
}

.headerContainer {
    display: flex;
    flex-direction: column;
}

.headerColor {
    background: red;
    width: 100%;
    height: 70px;
}

.headerIcon {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 69px;
    height: 69px;
    background: blue;
    top: -30px;
    position: relative;
}

.headerIconContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 24px;
    justify-content: space-between;
}

.shareButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #587BE0;
    font-weight: 600;
}

.detailsContainer {
    display: flex;
    flex-direction: column;
    padding: 0 24px;
    margin-bottom: 18px;
}

.detailsTitle {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 6px;
}

.detailsDesc {
    font-size: 14px;
    margin: 0;
    margin-bottom: 12px;
}

.detailsCategory {
    font-size: 14px;
    margin: 0;
    color: #587BE0;
    font-weight: 600;
}

.openContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 24px;
    margin-bottom: 12px;
}

.openButton {
    color: #fff;
    background: #414047;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
}

.usersContainer {
    display: flex;
    color: #6F6E73;
    font-size: 14px;
    margin-left: 12px;
}